In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
                "ocorrencia_2010_2020.csv",
                sep=";", 
                parse_dates=["ocorrencia_dia"],
                dayfirst=True
)

df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,3:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [3]:
# df.loc[1, 'ocorrencia_cidade'] #localize na linha 1, coluna 'ocorrencia_cidade' e retorne o valor da celula. out:BELÉM

In [4]:
df.loc[1:3] # retorne os dados da linha 1 a 3

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,3:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [5]:
df.loc[[10,40]] #retorna a lista de linhas, no caso a linhas 10 e a 40

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0

In [6]:
df.loc[:,'ocorrencia_cidade'] # todas as linhas da coluna ocorrencia_cidade

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5735         MANOEL URBANO
5736              CAMPINAS
5737     LAGOA DA CONFUSÃO
5738        RIO DE JANEIRO
5739             VICENTINA
Name: ocorrencia_cidade, Length: 5740, dtype: object

In [7]:
df.loc[1, 'ocorrencia_cidade'] #localize na linha 1, coluna 'ocorrencia_cidade' e retorne o valor da celula. out:BELÉM

'BELÉM'

In [8]:
df.loc[1:3] # retorne os dados da linha 1 a 3

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,3:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [9]:
df.loc[[10,40]] #retorna a lista de linhas, no caso a linhas 10 e a 40

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0

In [10]:
df.loc[:,'ocorrencia_cidade'] # localiza todas as linhas da coluna ocorrencia_cidade

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5735         MANOEL URBANO
5736              CAMPINAS
5737     LAGOA DA CONFUSÃO
5738        RIO DE JANEIRO
5739             VICENTINA
Name: ocorrencia_cidade, Length: 5740, dtype: object

In [11]:
df.codigo_ocorrencia.is_unique #verifica se a coluna não tem valores repetidos

True

In [12]:
df.set_index('codigo_ocorrencia', inplace=True) #deixa de enumerar as linhas e usa o codigo_ocorrencia para numerar. inplace= True aplica as alterações
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,3:00:00,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [13]:
df.reset_index(drop=True, inplace=True) #reinicia o index(reset_index), remove as alterações(drop-True) e aplica tudo na base de dados(inplace=True)
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,3:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [14]:
df.loc[40] #localize a coluna index o valor 40

codigo_ocorrencia2                        39158
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-28 00:00:00
ocorrencia_hora                        16:00:00
total_recomendacoes                           0
Name: 40, dtype: object

In [15]:
df.loc[0] = 20 # altera todos os valores da linha 0 para 20
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,20,20,20,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,3:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0

In [16]:
df.loc[:, "ocorrencia_uf"] = "CE" # altera todos os valores da coluna para CE
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,20,20,20,CE,20,20,20,20
1,40349,INCIDENTE,BELÉM,CE,SBBE,2010-01-03 00:00:00,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,CE,SBRJ,2010-01-03 00:00:00,3:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,****,2010-01-04 00:00:00,17:30:00,0
4,40324,INCIDENTE,PELOTAS,CE,SBPK,2010-01-05 00:00:00,19:25:00,0

In [17]:
df['ocorrencia_cidade_bkp'] = df.ocorrencia_cidade #faz um backup da coluna ocorrenci_cidade
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,CE,SBBE,2010-01-03 00:00:00,11:05:00,0,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,CE,SBRJ,2010-01-03 00:00:00,3:00:00,0,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,****,2010-01-04 00:00:00,17:30:00,0,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,CE,SBPK,2010-01-05 00:00:00,19:25:00,0,PELOTAS

In [18]:
df.loc[df.ocorrencia_classificacao == 'INCIDENTE', ['ocorrencia_uf']] = 'SP' #localize na coluna "ocorrencia_classificacao" toda linha que for 'INCIDENTE' e atualize a coluna 'ocorrencia_uf' com valor 'SP'
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,0,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,0,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,****,2010-01-04 00:00:00,17:30:00,0,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,0,PELOTAS

In [19]:
df.loc[df.ocorrencia_uf == 'SP'] #filtra mas não aplica todos os valores SP na coluna ocorrencia_uf
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,0,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,0,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,****,2010-01-04 00:00:00,17:30:00,0,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,0,PELOTAS

ocorrencia_uf
**

ocorrencia_aerodromo
###!
####
****
*****

ocorrencia_hora
NULL

In [20]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA #localize todas as linhas com da coluna ocorrencia_aerodromo com valor '****' e altere pelo valor padrão NA do Pandas. NA = sem valor
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,0,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,0,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,<NA>,2010-01-04 00:00:00,17:30:00,0,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,0,PELOTAS

In [21]:
df.replace(['**', '###!', '####', '****', '*****', 'NULL'], pd.NA, inplace=True ) # procure os valores da lista ['***', ...] e substitua pelo valor <NA> (sem valor) e aplique as alterações inplace=True
df.tail()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
5735,79769,INCIDENTE GRAVE,MANOEL URBANO,CE,SIMB,2020-12-29 00:00:00,18:30:00,0,MANOEL URBANO
5736,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,0,CAMPINAS
5737,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,CE,<NA>,2020-12-30 00:00:00,18:30:00,0,LAGOA DA CONFUSÃO
5738,79802,INCIDENTE,RIO DE JANEIRO,SP,SBGL,2020-12-30 00:00:00,0:54:00,0,RIO DE JANEIRO
5739,79756,INCIDENTE GRAVE,VICENTINA,CE,<NA>,2020-12-31 00:00:00,9:00:00,0,VICENTINA

In [22]:
df.isna() # retorna true para os valores que foram setados pela função pd.NA. Podemos usar tambem a função df.isnull() que é a mesma coisa

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
5735,False,False,False,False,False,False,False,False,False
5736,False,False,False,False,False,False,False,False,False
5737,False,False,False,False,True,False,False,False,False
5738,False,False,False,False,False,False,False,False,False
5739,False,False,False,False,True,False,False,False,False

In [23]:
df.isna().sum() #soma a quantidade de dados que não tem atribuição. Quando usamos o df.NA.

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2342
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_cidade_bkp          0
dtype: int64

In [24]:
df.fillna(0, inplace=True) # preencha dodas as celulas que tem valor <NA> (df.NA) com valor zero e aplique na variavel DF. Não temos alteração do arquivo CSV

In [25]:
df.replace([0], pd.NA, inplace=True) #retorna o valor de 0 para não atribuido (df.NA).
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,<NA>,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,<NA>,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,<NA>,2010-01-04 00:00:00,17:30:00,<NA>,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,<NA>,PELOTAS

In [26]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2342
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes         5032
ocorrencia_cidade_bkp          0
dtype: int64

In [27]:
df.fillna(value={'total_recomendacoes': 10}, inplace=True) #altere todos oa valores definido como df.na, da coluna total_recomendacoes, para 10 e aplica as alterações na var df
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,10,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,10,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,<NA>,2010-01-04 00:00:00,17:30:00,10,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,10,PELOTAS

In [28]:
df.loc[df.total_recomendacoes == 10] #filtra todos os dados da coluna total_recomendacores com o valor 10, mas não aplica na var df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,10,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,10,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,<NA>,2010-01-04 00:00:00,17:30:00,10,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,10,PELOTAS
5,39807,INCIDENTE,SALVADOR,SP,<NA>,2010-01-06 00:00:00,17:53:00,10,SALVADOR
...,...,...,...,...,...,...,...,...,...
5735,79769,INCIDENTE GRAVE,MANOEL URBANO,CE,SIMB,2020-12-29 00:00:00,18:30:00,10,MANOEL URBANO
5736,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,CAMPINAS
5737,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,CE,<NA>,2020-12-30 00:00:00,18:30:00,10,LAGOA DA CONFUSÃO
5738,79802,INCIDENTE,RIO DE JANEIRO,SP,SBGL,2020-12-30 00:00:00,0:54:00,10,RIO DE JANEIRO
5739,79756,INCIDENTE GRAVE,VICENTINA,CE,<NA>,2020-12-31 00:00:00,9:00:00,10,VICENTINA

In [29]:
df['total_recomendacoes_bck'] = df.total_recomendacoes
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp,total_recomendacoes_bck
0,20,20,20,CE,20,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,10,BELÉM,10
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,10,RIO DE JANEIRO,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,<NA>,2010-01-04 00:00:00,17:30:00,10,LUCAS DO RIO VERDE,10
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,10,PELOTAS,10
...,...,...,...,...,...,...,...,...,...,...
5735,79769,INCIDENTE GRAVE,MANOEL URBANO,CE,SIMB,2020-12-29 00:00:00,18:30:00,10,MANOEL URBANO,10
5736,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,CAMPINAS,10
5737,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,CE,<NA>,2020-12-30 00:00:00,18:30:00,10,LAGOA DA CONFUSÃO,10
5738,79802,INCIDENTE,RIO DE JANEIRO,SP,SBGL,2020-12-30 00:00:00,0:54:00,10,RIO DE JANEIRO,10
5739,79756,INCIDENTE GRAVE,VICENTINA,CE,<NA>,2020-12-31 00:00:00,9:00:00,10,VICENTINA,10

In [30]:
df.drop(['total_recomendacoes_bck'], axis=1, inplace=True) #apaga a coluna com nome 'total_recomendacoes'. Por padrão o eixo é zero (axis=0) e o pandas vai tentar excluir uma linha que tenho o nome setado. Precisamos alterar para o eixo 1 (coluna) para apagar a coluna correta. Sem o inplace o panda retira a coluna somente da visualização e não do data frame
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,10,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,10,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,<NA>,2010-01-04 00:00:00,17:30:00,10,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,10,PELOTAS

In [31]:
df.dropna() #apaga a linha toda, quando ela tem alguma valor NA

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,10,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,10,RIO DE JANEIRO
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,10,PELOTAS
6,40215,INCIDENTE,COARI,SP,SBUY,2010-01-07 00:00:00,18:40:00,10,COARI
...,...,...,...,...,...,...,...,...,...
5731,79800,INCIDENTE,SÃO PAULO,SP,SBMT,2020-12-28 00:00:00,10:15:00,10,SÃO PAULO
5732,79824,ACIDENTE,RIO PARANAÍBA,CE,SNRP,2020-12-28 00:00:00,17:00:00,10,RIO PARANAÍBA
5735,79769,INCIDENTE GRAVE,MANOEL URBANO,CE,SIMB,2020-12-29 00:00:00,18:30:00,10,MANOEL URBANO
5736,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,CAMPINAS
5738,79802,INCIDENTE,RIO DE JANEIRO,SP,SBGL,2020-12-30 00:00:00,0:54:00,10,RIO DE JANEIRO

In [32]:
df.dropna(subset=['ocorrencia_aerodromo']) #apaga uma linha quando ela tem algum valor NA, na coluna 'ocorrencia_uf'

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,10,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,10,RIO DE JANEIRO
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,10,PELOTAS
6,40215,INCIDENTE,COARI,SP,SBUY,2010-01-07 00:00:00,18:40:00,10,COARI
...,...,...,...,...,...,...,...,...,...
5731,79800,INCIDENTE,SÃO PAULO,SP,SBMT,2020-12-28 00:00:00,10:15:00,10,SÃO PAULO
5732,79824,ACIDENTE,RIO PARANAÍBA,CE,SNRP,2020-12-28 00:00:00,17:00:00,10,RIO PARANAÍBA
5735,79769,INCIDENTE GRAVE,MANOEL URBANO,CE,SIMB,2020-12-29 00:00:00,18:30:00,10,MANOEL URBANO
5736,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,CAMPINAS
5738,79802,INCIDENTE,RIO DE JANEIRO,SP,SBGL,2020-12-30 00:00:00,0:54:00,10,RIO DE JANEIRO

In [35]:
df.drop_duplicates(inplace=True) #apaga as linhas duplicadas. 
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_cidade_bkp
0,20,20,20,CE,20,20,20,20,20
1,40349,INCIDENTE,BELÉM,SP,SBBE,2010-01-03 00:00:00,11:05:00,10,BELÉM
2,40351,INCIDENTE,RIO DE JANEIRO,SP,SBRJ,2010-01-03 00:00:00,3:00:00,10,RIO DE JANEIRO
3,39527,ACIDENTE,LUCAS DO RIO VERDE,CE,<NA>,2010-01-04 00:00:00,17:30:00,10,LUCAS DO RIO VERDE
4,40324,INCIDENTE,PELOTAS,SP,SBPK,2010-01-05 00:00:00,19:25:00,10,PELOTAS
...,...,...,...,...,...,...,...,...,...
5735,79769,INCIDENTE GRAVE,MANOEL URBANO,CE,SIMB,2020-12-29 00:00:00,18:30:00,10,MANOEL URBANO
5736,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,CAMPINAS
5737,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,CE,<NA>,2020-12-30 00:00:00,18:30:00,10,LAGOA DA CONFUSÃO
5738,79802,INCIDENTE,RIO DE JANEIRO,SP,SBGL,2020-12-30 00:00:00,0:54:00,10,RIO DE JANEIRO
5739,79756,INCIDENTE GRAVE,VICENTINA,CE,<NA>,2020-12-31 00:00:00,9:00:00,10,VICENTINA